---

{{ role_name }}_urls:
  - url: "wttr.in/brn"
    output: "curlhere.html"
    user-agent: "superagent/1.0"
  - url: "example.com/docs/manpage.html"
    referer: "http://nowhereatall.example.com"
    options:
      - "-O"
