{% raw %}{{ ansible_managed | comment }}{% endraw %}

# Please use your variables (from `default/main.yml` for example) here.
# (For developers of the template/skeleton code: files in `templates` are not
# interpreted by Jinja.)
